---
layout: layouts/base.njk
---
<style>
  a{
    font-size: 4em;
    font-variant: none;
  }
</style>

<div class="header">
  <h2>Dream Lab 2025</h2>
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
